{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>ajouter un velo</title>
{% endblock %}

{% block body %}
    <h2>ajouter un velo</h2>
    <div class="row mt-5">
        <img class="card-img-top rounded mx-4 d-block"  style="width:200px; height:200px; border: 1px solid black; padding: 5px;" id="img_output" src="{{ url_for('static', filename = 'images/')}}no_photo.jpeg" alt="">
        <div class="w-25">
            <form class="w-190" method="post" action="/admin/velo/add" enctype="multipart/form-data">
                <label for="nom">Nom :
                    <input name="nom" type="text" value=""  class="form-control" required>
                </label>

                <label for="prix">Prix (€) :
                    <input name="prix" type="number" min="0.0" step="0.01" max="2147483647" value=""  class="form-control" required>
                </label>

                <label for="taille_id">Taille du velo :
                    <select name="taille_id" required class="form-select">
                        <option value="">Sélectionner une taille de velo</option>
                        {% for tailleVelo in tailles %}
                             <option value="{{ tailleVelo.id_taille }}"> {{ tailleVelo.libelle_taille }}</option>
                        {% endfor %}
                    </select>
                </label>

                <label for="type_velo_id">Type du velo :
                    <select name="type_velo_id" required class="form-select">
                        <option value="">Sélectionner un type de velo</option>
                        {% for type in types_velo %}
                             <option value="{{ type.id_type_velo }}"> {{ type.libelle_type_velo }}</option>
                        {% endfor %}
                    </select>
                </label>

                <label for="matiere">Matière :
                    <input name="matiere" type="text" value=""  class="form-control" required>
                </label>

                <label for="description">description :
                    <input name="description" type="text" class="form-control" >
                </label>

                <label for="fournisseur">Fournisseur :
                    <input name="fournisseur" type="text" value=""  class="form-control" required>
                </label>

                <label for="marque">Marque :
                    <input name="marque" type="text" value=""  class="form-control" required>
                </label>

                <label for="stock">Stock :
                    <input name="stock" type="number" value=""  class="form-control" required>
                </label>

                <label for="image"> Image :
                    <input name="image" type="file" onchange="loadFile(event)"   class="form-control">
                </label>

                <label for="submit">
                    <input name="submit" type="submit" value="Ajouter" class="btn btn-primary mt-2">
                </label>
            </form>
        <a href="/admin/velo/show"><button class="btn btn-secondary mt-2">annuler</button></a>
        </div>
    </div>
{% endblock %}
